@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}
body { 
  background-color: rgba(209, 209, 185, 0.068);
  font-family: 'Roboto', sans-serif;
}
.header{
  background-color: #F0A83E;
  color: white ;
}
.header__st{
  block-size: 22px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: rgb(223, 223, 223);
}
.st__title{
  margin: 0 0 0 20px;
  font-size: 0.8rem;
}
.st__options{
  cursor: pointer;
  margin: 0 20px 0 0 ;
  font-size: 0.8rem;
}
.st__img{
  width: 10px;
}
.header__nav{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  block-size: 60px;
}
.nav__logo{
  margin: 0 0 0 20px;
}
.nav__cta{
  margin: 0 20px 0 0 ;
}
.nav__cta--active{
  display: none;
}
.nav__cta a{
  border-radius: 4px;
  padding: 2px;
  margin: 0 12px 0 0 ;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;
}
.nav__cta img{
  margin: 0 2px 0 0 ;
}
.nav__cta a:hover{
  display: inline-block;
  background-color: #8f8f8f;
  transform: scale(1.2);
}
.main{
 color: #3C2313; 
}
.main__presentation{
  block-size: 406px;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  text-align: center ;
  padding: auto 0;
}
.main__presentation div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation__title{
  font-size: 2rem;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  margin: 0 14px ;
  padding: 8px;
  border-radius: 6px;
}
.presentation__paragraph{
  font-size: 1.2rem;
  margin: 12px 0;
}
.presentation__button{
  color: #ffffff;
  background-color: #F0A83E;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main__content{
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 20px;
  height: max-content;
}
.content__paragraph{
  max-width: 100%; 
  color: rgb(119, 110, 79);
  margin: 22px 0;
}
.paragraph__content{
  margin: 0 4px;
  padding: 6px;
  display: inline-block;
  height: 30px;
  border-radius: 32px;
  transition: background .8s ease-in-out;
  cursor: pointer;
}
.paragraph__content:hover{
  color: #3C2313;
  background-color: #cacaca;
}
.content__preview{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.content__preview figure{
  transition: .3s ease-in-out;
  cursor: pointer;
}
.content__preview figure:hover{
	transform: scale(1.1);
}
.img__container{
  margin: 12px;
  background-color: #FAFAF6;
  padding: 0 0 12px 0;
}
.review__img__price{
  color: #F0A83E;
}
.main__form{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: 350px;
  background-color: rgb(255, 255, 255);
}
.form{
  inline-size: 360px;
  text-align: center;
}
.form__title{
  font-size: 2rem;
  margin: 16px;
}
.form__input{
  margin: 6px;
  padding: 13px;
  font-size: 12px;
  border-style: none;
  inline-size: 340px;
  background-color: #3C2313;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.52);
}
.form__input--reset{
  margin: 32px 4px;
  padding: 10px;
  inline-size: 100px;
  border-radius: 100px;
  background-color: #8f8f8f;
}
.form__input--submit{
  margin: 32px 4px;
  padding: 10px;
  inline-size: 100px;
  border-radius: 100px;
  background-color: #F0A83E;
}
.footer{
  color: #ffffff;
}
.footer__head{
  block-size: 80px;
  padding: 12px;
  background-color: #F0A83E;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.head__container{
  display: flex;
  align-items: center;
  gap: 5px;
}
.head__title{
  font-size: 1.5rem;
  font-weight: 400;
}
.footer__form{
  display: inline;
}
.footer__form__email{
  margin: 2px;
  padding: 12px;
  font-size: 12px;
  border-style: none;
  inline-size: 200px;
  background-color: #ffffff;
  border-radius: 40px;
}
.footer__form__submit{
  padding: 12px;
  font-size: 12px;
  font-weight: 900;
  border-style: none;
  inline-size: 100px;
  background-color: #3C2313;
  color: #ffffff;
  border-radius: 100px;
}
.footer__container{
  background-color: #3C2313;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.container__info{
  padding: 30px 60px; 
}
.info__cta{
  display:flex ;
  gap: 12px;
  margin: 0 0 18px 0;
}
.container__info__paragraph{
  font-size: 20px;
  font-weight: 600;

}
.container__info__paragraph--active{
  display: inline-block;
  color: #8f8f8f;
  margin: 0 0 12px 0;
}
.container__logo{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

} 
.container__logo img{
width: 200px;
}

@media screen and (max-width: 768px){
  .main__presentation{
    background-image: url('../img/background.png');
    background-position: left;
  }
  .nav__cta{
    display: none;
  }
  .nav__cta--active{
    display: block;
    margin: 0 42px 0 0;
  }
  .container__logo img{
    width: 80%;
  }
  .container__info{
    width: 50%; 
  }
}
@media screen and  (max-width:480px){
  .footer__container{
    gap: 20px;
  }
  .container__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  .container__logo img{
    width: 250px;
  }
  .container__info{
    width: 100%;
    order: 2;
    padding: 0 0 0 22px
  }
  .header__st{
    display: none; 
  }
  .head__title{
    font-size: 1rem;
    font-weight: 400;
  }
  .footer__container{
    flex-direction: column;
  } 
  .footer__form__email{
    width: 160px;
  } 
  .form{
    width: 90%;
    text-align: center;
  }
  .form__input{
    width: 80%;
  }
  .form__input--reset{
    width: 40%;
  }
  .form__input--submit{
    width: 40%;
  }
}
